// Example app.scss
@import 'components/color';

// Custom color settings go here
// see ../bower_components/materialize/sass/components/_variables.scss
$primary-color: color("blue", "darken-1");
$secondary-color: color("grey", "darken-3");
/* $spinner-default-color: $primary-color; */
/* $button-color: color("deep-orange", "accent-3"); */

$secondary-text-color: color("grey", "darken-4");

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';
@import "ember-power-select";

.spacer {
    height: 2rem;
}

// Hack to make sure actions work on iOS devices also nicer on the desktop.
// The clickable class is used in cases where we change the tag of a link-to.
[data-ember-action]:not(:disabled), .clickable {
  cursor: pointer;
}
