<div class="container">
  <h1>Overview of catalogs</h1>

  <ul class="collection">
    {{#each model as |catalog|}}
      {{#link-to 'catalogs.catalog' catalog tagName="li" classNames="collection-item avatar"}}
        <!-- <img src="images/yuna.jpg" alt="" class="circle" /> -->
        <span class="title">{{catalog.title}}</span>
        <p>{{catalog.description}}</p>
      {{/link-to}}
    {{/each}}
  </ul>

  {{#link-to 'catalogs.new' classNames="waves-effect waves-light btn"}}
    Add Catalog
  {{/link-to}}
</div>
