<div class="container">
  <h1>Overview of catalogs</h1>

  {{#md-collection content=model as |catalog|}}
    {{#link-to 'catalogs.catalog' catalog tagName="li" classNames="collection-item avatar clickable"}}
      {{#if catalog.isNew}}
        {{md-badge class='red white-text' text="draft"}}
      {{/if}}
      <i class="circle blue mdi-action-store"></i>
      <span class="title">{{catalog.title}}</span>
      <p>{{catalog.description}}</p>
    {{/link-to}}
  {{/md-collection}}

  {{#link-to 'catalogs.new' classNames="waves-effect waves-light btn"}}
    Add Catalog
  {{/link-to}}
</div>
