<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        {{input value=theme.prefLabel placeholder="Preferred Label" prefLabel="theme_record_prefLabel" type="text"}}
        <label for="theme_record_prefLabel">Preferred Label</label>
      </div>
    </div>
    <div class="row">
      <div class="waves-effect waves-light btn" {{action "save"}}>
        Save
      </div>
    </div>
  </form>
</div>
