<div class="container">
  {{distributions/show-overview distribution=model}}

  <div class="row">
    <div class="col s12 m3">
      {{link-to "dataset" "datasets.dataset" classNames="btn"}}
    </div>
    <div class="col s12 m3">
    </div>
    <div class="col s12 m3">
      {{link-to "edit" "distributions.distribution.edit" classNames="btn"}}
    </div>
    <div class="col s12 m3">
      <div class="btn red" {{action "destroy" model}}>
        Destroy
      </div>
    </div>
  </div>
</div>
