<div class="container">
  {{distributions/show-overview distribution=model}}

  <div class="row">
    <div class="col s12 m4">
      {{link-to "dataset" "datasets.dataset" classNames="btn"}}
    </div>
    <div class="col s12 m4">
    </div>
    <div class="col s12 m4">
      {{link-to "edit" "distributions.distribution.edit" classNames="btn"}}
    </div>
  </div>
</div>
