{{#md-collection content=datasets as |dataset|}}
  {{#link-to 'datasets.dataset' dataset tagName="li" classNames="collection-item avatar"}}
    <i class="circle blue mdi-action-assignment"></i>
    <span class="title">{{dataset.title}}</span>
    <p>{{dataset.description}}</p>
  {{/link-to}}
{{/md-collection}}
