{{#md-navbar name='WebCAT' homeRoute='catalogs'}}
  <li>
    {{link-to 'Intro' 'application'}}
  </li>
{{/md-navbar}}

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}